@page
@model OfficeMgmt.Pages.AttendancePage.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Attendance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Attendance.ID" />
            <div class="form-group">
                <label asp-for="Attendance.Employee_ID" class="control-label"></label>
                <input asp-for="Attendance.Employee_ID" class="form-control" />
                <span asp-validation-for="Attendance.Employee_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Attendance.Employer_ID" class="control-label"></label>
                <input asp-for="Attendance.Employer_ID" class="form-control" />
                <span asp-validation-for="Attendance.Employer_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Attendance.Department_ID" class="control-label"></label>
                <input asp-for="Attendance.Department_ID" class="form-control" />
                <span asp-validation-for="Attendance.Department_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Attendance.StartTime" class="control-label"></label>
                <input asp-for="Attendance.StartTime" class="form-control" />
                <span asp-validation-for="Attendance.StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Attendance.EndTime" class="control-label"></label>
                <input asp-for="Attendance.EndTime" class="form-control" />
                <span asp-validation-for="Attendance.EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
